html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid: 2fr 12fr/ 2fr 6fr;
    margin: 0;
}

.header {
    background-color: rgb(244, 157, 157);
    grid-column: 1 / -1;
}

.sidebar {
    background-color: rgb(110, 110, 255);
    position: relative;
}

.list {
    background-color: rgb(250, 250, 149);
    padding-top: .5rem;
}

.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0rem;
    left: 0rem;
    height: 100%;
    overflow: auto;
}

.task-modal {
    display: none;
}

.list-modal {
    display: none;
}

.urgent {
    color: red;
}

.delete-button {
    content: url(/imgs/delete-icon.svg);
}

.sidebar-item {
    display: flex;
    gap:2rem;
    font-size: 1.5rem;
    width: 15rem;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.item-title {
    max-width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.whole-task {
    font-size: 1.7rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    gap: 2rem;
}

.whole-task:hover {
    font-style: italic;
}

.short-desc {
    max-width: 50ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-modal {
    position: absolute;
    display: none;
    z-index: 1;
    top: 1rem;
}