html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid: 2fr 12fr/ 2fr 6fr;
    margin: 0;
}

.header {
    background-color: rgb(244, 157, 157);
    grid-column: 1 / -1;
}

.sidebar {
    background-color: rgb(110, 110, 255);
    position: relative;
}

.list {
    background-color: rgb(250, 250, 149);
}

.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0rem;
    left: 0rem;
    height: 100%;
    overflow: auto;
}

.task-modal {
    display: none;
}

.list-modal {
    display: none;
}

